@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    151 W. Ohio St.<br />
    Indianapolis,IN 46038<br />
    <abbr title="Phone">P: </abbr>
    855.925.1100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@OfficeTracker.com">Support@OfficeTracker.com</a><br />
    <strong>Human Resources:</strong> <a href="mailto:HRDept@OfficeTracker.com">HRDept@OfficeTracker.com</a>
</address>